.main{
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subDiv{
  display: flex;
  flex-direction: row;
  padding: 0 12rem;
  margin-top: 2rem;
  width: 100%;
}

.imageDiv{
  width: 40%;
  display: flex;
  align-items: center;
}

.image{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.textDiv{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left:  2rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.textOne{
  font-weight: bold;
  font-size: 50px;
}

.textTwo{
  font-weight: '400';
  font-size: 18px;
  margin-top: 10px;
}

.textThree{
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}